header {
  height: 10vh;
  background-color: #ccd5ae;
  display: grid;
  align-self: center;
  align-content: center;
}

.headerUserContainer {
  width: fit-content;
  margin-left: auto;
}

.signOutButton {
  width: 78px;
  margin: 0px 10px;
}

.noUserHeader {
  margin: 0;
  text-align: center;
  display: grid;
  align-self: center;
}
